VITE_API_URL=http://localhost:5000/api
VITE_SUPABASE_URL= https://gnafoiphikxczqxtyehe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImduYWZvaXBoaWt4Y3pxeHR5ZWhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxNjY0NjcsImV4cCI6MjEwNTc0MjQ2N30.W_cXCx-2UzxNpEQMT4ok7quVa9Bdfr7CTle7TvA2nkc