# Supabase
SUPABASE_URL= https://gnafoiphikxczqxtyehe.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImduYWZvaXBoaWt4Y3pxeHR5ZWhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxNjY0NjcsImV4cCI6MjEwNTc0MjQ2N30.W_cXCx-2UzxNpEQMT4ok7quVa9Bdfr7CTle7TvA2nkc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImduYWZvaXBoaWt4Y3pxeHR5ZWhlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDE2NjQ2NywiZXhwIjoyMTA1NzQyNDY3fQ.G_DdpY106mVSGa2IbRRtvpO0DL1ir8ny8Xd2gTCrPu8

# Serveur
PORT=5000
CLIENT_URL=http://localhost:5173

# JWT (pour l'auth admin, utilisé plus tard)
JWT_SECRET=une_chaine_aleatoire_longue

# Email (Nodemailer, utilisé plus tard)
EMAIL_USER=mouhasarr676@gmail.com
EMAIL_PASS=Mhdsarr005

# WhatsApp
WHATSAPP_NUMBER=221766366928